.page--book-page {
  /* DUDA: is this position absolute really needed?  */
  position: absolute;
  top: -100vh;
  left: 0;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.flipbook-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  width: 740px;
  visibility: hidden;
  z-index: 99999;
}

.flipbook {
  background: #aa1111;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 15px 0 5px rgba(0, 0, 0, 0.1) inset,
    1px 0 5px rgba(0, 0, 0, 0.4) inset, 25px 0 30px rgba(0, 0, 0, 0.2) inset,
    -25px 0 30px rgba(0, 0, 0, 0.1) inset;
}

.flipbook__flipper {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 720px;
  height: 560px;
  border: dotted rgba(0, 0, 0, 0) 6px;
  z-index: 999;
}

.flipbook__page {
  background: #fff;
  position: absolute;
  top: 0;
  /* Important to define its width and height in pixels and clearly, since this page element
  is sent to the canvas element (for taking a snapshot with html2canvas) and that canvas is 
  set to fit-content */
  width: 355px;
  height: 560px;
  border: 0px solid #000;
  border-top-left-radius: 20px 10px;
  border-bottom-left-radius: 20px 10px;
  border-top-right-radius: 50px 5px;
  border-bottom-right-radius: 20px 2px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3) inset,
    1px 0 5px rgba(0, 0, 0, 0.4) inset,
    10px 0 4px rgba(255, 255, 255, 0.2) inset,
    25px 0 30px rgba(0, 0, 0, 0.4) inset, -25px 0 30px rgba(0, 0, 0, 0.1) inset,
    -1px 0 4px rgba(0, 0, 0, 0.3), 3px 0 5px rgba(0, 0, 0, 0.5),
    45px 0 45px rgba(255, 255, 255, 0.3) inset;
}

.flipbook__page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.flipbook__page h1 {
  font-size: 30px;
  color: #000;
}

.flipbook__page h2 {
  font-size: 23px;
  color: #000;
}

.flipbook__page h3 {
  font-size: 18px;
  color: #000;
}

.flipbook__page h4 {
  font-size: 15px;
  color: #000;
}

.flipbook__page p {
  font-size: 13px;
  color: #000;
}

.flipbook__page--left {
  left: 0;
}

.flipbook__page--right {
  left: 355px;
}

.bg-vid--book-page {
  opacity: 0.65;
  /* Mirroring the video */
  transform: scaleX(-1);
  pointer-events: none;

  /*  For making the video/image not draggable. It was being dragged sometimes
  when trying to flip the pages of the book */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bookshelf__overlayer {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 500px;
  opacity: 0.7;
}

.bookshelf .overlayer {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 500px;
  opacity: 0.7;
}

.bookshelf__overlayer img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.bookshelf__controls {
  position: absolute;
  top: 510px;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 1;
  background-color: #111;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookshelf__controls img:first-child {
  padding-right: 20px;
  height: 40px;
  transform: scaleX(-1);
}

.bookshelf__controls img:last-child {
  height: 40px;
  padding-left: 20px;
}

.bookshelf__shelf {
  /* defining the width and height overrides the flex:1, so now the flex item from the right
  will ocupy more space than the left as the screen becomes smaller. It is okay, though, 
  since it is what we want */
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 426px;
  height: 440px;
  background: url(../img/book-page/bookshelf.gif);
  background-size: contain;
  z-index: 1;
}

.bookshelf__row {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bookshelf__row--upper {
  top: 55px;
}

.bookshelf__row--bottom {
  top: 240px;
}

.book {
  position: relative;
  transform: translateY(-10px);
  width: 80px;
  height: 120px;
  z-index: 10;
  cursor: pointer;
}

.book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .flipbook {
  width: 100%;
  height: 100%;
} */
/*
.flipbook .page {
  height: 100%;
  width: 100%;
  background-image: url(./img/film-page/lupa.png);
}
.flipbook .page img {
  max-width: 100%;
  height: 100%;
} */
