.page--film-page {
  position: absolute;
  top: 0;
  left: -100%;
  overflow: hidden;
}

.circ-btn--film-page-back {
  position: absolute;
  z-index: 10000;
  right: 25px;
  top: 20px;
}

.bg-img--film-page {
  transition: opacity 4s ease;
  opacity: 1;
}

.right-side--film-page {
  background: rgba(0, 0, 0, 0.7);
  transform: translate(0, -100%);
  transition: transform 3s ease;
}

.left-side--film-page {
  background: rgba(255, 255, 255, 0.5);
  transform: translate(0, 100%);
  transition: transform 3s ease;
}

.right-side--film-page.show,
.left-side--film-page.show {
  transform: translate(0, 0);
}

.item__main-img--film-page img {
  width: 110px;
  height: 160px;
}

.item__secondary-img--film-page img {
  width: 35px;
  height: 35px;
}

/* Block elements which I did not manage to find a proper flow for, 
so they are defined as blocks with names inidicating clearly
the only place in which they are used */

.film-page-video-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 0px;
  transition: height 4s ease;
  background: #fff;
  /* It has to be higher to get the click points events properly for 
   allowing the user to close it by clickign outside of it. It has to be 
   higher than the header, specially, since the header interrupts with it.
   I could deactivate header click-events just in case with 
   pointer-events: none !important*/
  z-index: 100000;
}

/* ADAPT TO BEM!!!! */
/* Media queries for the phone */

@media (max-width: 750px) {
  .film-page .DVD-nav .DVD-img img {
    width: 55px;
    height: 80px;
  }

  .film-page .DVD-nav .DVD-info img {
    width: 18px;
    height: 18px;
    padding: 5px;
  }
}
