.page--music-page {
  top: 0;
  left: 100%;
  overflow: hidden;
}

.circ-btn--music-page-back {
  position: absolute;
  z-index: 100;
  left: 25px;
  bottom: 38px;
}

.bg-img--music-page {
  transition: opacity 4s ease;
  opacity: 1;
}

.music-page-video-container {
  position: absolute;
  top: 21%;
  left: 19.5%;
  width: 49%;
  height: 58%;
  border-radius: 15px;
  background: #fff;
  z-index: 100;
  opacity: 0;
  transition: opacity 4s ease;
  /* when the youtube video starts, pointer-events will be allowed again for the screen on javascript */
  pointer-events: none;
  overflow: hidden;

  /* add maybe a movie white with old style lines effect later */
}

.music-page-video-container img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  filter: brightness(70%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
  pointer-events: none;
}

.right-side--music-page {
  background: rgba(0, 0, 0, 0.7);
  transform: translate(0, -100%);
  transition: transform 3s ease;
}

.left-side--music-page {
  background: rgba(255, 255, 255, 0.5);
  transform: translate(0, 100%);
  transition: transform 3s ease;
}

.right-side--music-page.show,
.left-side--music-page.show {
  transform: translate(0, 0);
}

.item__main-img--music-page img {
  width: 135px;
  height: 135px;
}

.item__secondary-img--music-page img {
  width: 35px;
  height: 35px;
}

.music-page-ghost-img-container {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 600px;
  height: 300px;
  /* high z-index so the ghost image can be seen over anything */
  z-index: 1000;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.music-page-ghost-img-container.hide {
  opacity: 0;
}

.ghost-img__ghost-element--music-page {
  background: url("./img/music-page/music-score.png");
  background-size: 600px 300px;
}
