/* book-page  CSS rules */
.book-page {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
}

.book-page .book-page-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.book-page .main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items stretch make items occupy whole perperdicular direction.
  Since we are in flex: row, then this makes items occupy the whole width of parent */
  align-items: stretch;
}

.book-page .left {
  /* the 100% is the othe attribute htat makes children occupy the 100% of the height of its space */
  flex: 1;
  padding: 20px;
}

.bookshelf {
  flex: 1;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-page .book-page-content video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
  transform: scaleX(-1);

  /* For making backgorund video black and white
  filter: grayscale(100%); 
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); 
  filter: url(resources.svg#desaturate); 
  filter: gray; 
  -webkit-filter: grayscale(1);   
  */
}
